<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <img
        src="./assets/logos/senac-logo.jpeg"
        alt="logo do senac"
        class="logo-ms"
      />
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <p>
        Seja bem-vindo ao menu do evento da disciplina
        <strong>"Projeto: Desenvolvimento de Produtos e/ou Serviços"</strong> do
        curso de Gastronomia do Senac Águas de São Pedro.
      </p>
      <p>
        A seguir apresentaremos as opções do menu da noite que corresponde às
        empresas criadas pelos alunos do 4° semestre noturno:
        <strong>Cazé Mousses'</strong>, <strong>HoneyWorks</strong>,
        <strong>Pira no BBQ</strong>, <strong>Pita do Novinha</strong> e
        <strong>Zest's</strong>.
      </p>
      <p>Tenha um ótimo evento.</p>
    </div>
  </div>
  <app-action-buttons previousUrl="/instructions" nextUrl="/menu" />
</div>
