<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <img
        src="./assets/logos/bene-cafe-logo.jpg"
        alt="logo do benê arte e café"
        class="logo-ms"
      />
    </div>
    <div class="col-12 col-md-6 text-center">
      <p>
        Bem-vindos à nossa acolhedora cafeteria no coração do interior paulista.
      </p>
      <p>
        Aqui, você encontrará um refúgio encantador que combina a deliciosa
        gastronomia do interior com um toque sustentável.
      </p>
      <p>
        Nossos pães fresquinhos, tortas caseiras e doces irresistíveis são
        feitos com muito carinho e ingredientes orgânicos, cuidando do nosso
        planeta.
      </p>
      <p>
        Além disso, aprecie o aroma irresistível do nosso café especial,
        produzido localmente, que proporciona uma experiência única para o seu
        paladar.
      </p>
      <p>
        Mas não é só isso! Aqui, você também encontrará uma seleção exclusiva de
        objetos artísticos feitos por pequenos produtores da região, valorizando
        o talento e a cultura local.
      </p>
      <p>
        Nossa cafeteria é um espaço acolhedor, onde você é recebido com um
        sorriso caloroso e uma atmosfera encantadora.
      </p>
      <p>
        Venha se deliciar com sabores autênticos e conhecer histórias que vão
        além do sabor.
      </p>
      <p>
        Esperamos que você se sinta em casa e que cada visita seja uma
        experiência repleta de encanto e conexão com a natureza e a arte da
        nossa região.
      </p>
      <p>Sejam bem-vindos e aproveitem cada momento nesse cantinho especial.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6 col-lg-3 text-center">
      <button mat-flat-button color="accent" (click)="previousScreen()">
        Voltar
      </button>
    </div>
    <div class="col-6 col-lg-3 text-center">
      <button mat-flat-button color="accent" (click)="nextScreen()">
        Avançar
      </button>
    </div>
  </div>
</div>

<!-- TODO: acertar o espacamento entre a logo e o texto na versao mobile e em geral -->
