<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <img
        src="./assets/logos/bene-cafe-logo.jpg"
        alt="logo do benê arte e café"
        class="logo-ms"
      />
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <p>
        Bem-vindos à nossa acolhedora cafeteria no coração do interior paulista.
      </p>
      <p>
        Aqui, você encontrará um refúgio encantador que combina a deliciosa
        gastronomia do interior com um toque sustentável.
      </p>
      <p>
        Nossos produtos são feitos com muito carinho e com ingredientes
        orgânicos de produtores locais.
      </p>
      <p>
        Além da nossa deliciosa comida, aqui você também encontra uma seleção
        exclusiva de objetos artísticos feitos por pequenos produtores da
        região, valorizando o talento e a cultura local.
      </p>
      <p>
        Esperamos que você se sinta em casa e que cada visita seja uma
        experiência repleta de encanto e conexão com a natureza e a arte da
        nossa região.
      </p>
      <p>Aproveitem cada momento nesse cantinho especial.</p>
    </div>
  </div>
  <app-action-buttons previousUrl="/instructions" nextUrl="/menu" />
</div>
