<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <img
        src="./assets/logos/menu-speaker-logo.png"
        alt="logo do menu speaker"
        class="logo-ms"
      />
    </div>
    <div class="col-12 col-md-6 text-center">
      <mat-list role="list">
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap instructions"
            >Seja bem vindo à aba de instruções de uso.</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para escutar o áudio principal de uma página, escutar o áudio dos
            produtos na tela do cardápio ou repetir o áudio de cada produto na
            aba do menu, aperte "0".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para chamar o garçom para informar o seu pedido, tirar alguma
            dúvida ou pedir a conta, aperte "1".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para voltar ao produto anterior na aba do cardápio, aperte
            "2".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para avançar ao próximo produto na aba do cardápio, aperte
            "3".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para voltar a uma aba anterior, aperte "4".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para ir à próxima aba, aperte "5".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para finalizar o seu pedido na aba do cardápio, aperte "6".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para remover um item do carrinho na aba de cardápio, aperte
            "7".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para adicionar um item ao carrinho na aba de cardápio, aperte
            "9".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Caso queira escutar novamente à esse menu de instruções em qualquer
            aba, aperte "8".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"></span
        ></mat-list-item>
      </mat-list>
    </div>
  </div>
  <app-action-buttons previousUrl="/home" nextUrl="/workshop" />
</div>
