<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <img
        src="./assets/logos/menu-speaker-logo.png"
        alt="logo do menu speaker"
        class="logo-ms"
      />
    </div>
    <div class="col-12 col-md-6 text-center">
      <mat-list role="list">
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Seja bem vindo a aba de instruções de uso.</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Caso queira pular as instruções e ir para a próxima aba, aperte
            "5".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para avançar para uma próxima aba ou um próximo item do cardápio,
            aperte "5".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para pular um item do cardápio, aperte "7".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para repetir o áudio de um produto ou aba, aperte "8".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para colocar um item no carrinho, aperte "9".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para voltar a uma aba anterior ou ao um item do cardápio passado
            anteriormente, aperte "4".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para finalizar o seu pedido, aperte "6".</span
          ></mat-list-item
        >
        <mat-list-item class="text-start h-auto mb-3" role="listitem"
          ><span class="text-wrap"
            >Para chamar o garçom para informar o seu pedido, tirar alguma
            dúvida ou pedir a conta, aperte "1".</span
          ></mat-list-item
        >
      </mat-list>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-12"><mat-divider></mat-divider></div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6 col-lg-3 text-center">
      <button mat-flat-button color="accent" (click)="previousScreen()">
        Voltar
      </button>
    </div>
    <div class="col-6 col-lg-3 text-center">
      <button mat-flat-button color="accent" (click)="nextScreen()">
        Avançar
      </button>
    </div>
  </div>
</div>
