@import "./palette.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background;
}

.logo-ms {
  height: auto;
  width: 100%;
  max-width: 650px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $background;
}
::-webkit-scrollbar-track {
  background: $background;
}
